.container-sobre {
    height: 100vh;
    background-color: blue;
}

.contato {

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration:darkblue; 
font-weight: 60;
 text-align: center;
 text-shadow: rgb(3, 7, 3);

}